:root {
  --primary-color: #09364b;
  --secondary-color: #fdb813;
  --accent-color: #155370;
  --text-light-color: #828282;
  --text-colored-color: #ffffff;
  --section-bg: rgba(9, 54, 75, 0.06);
  --font-ArticulatCF: "Articulat CF";
}

/* Header */

/*Top Header */
* {
  padding: 0;
  margin: 0;
}
header > .top-header {
  background-color: var(--primary-color);
  padding: 20px 10px;
}
@media (max-width: 768px) {
  header > .top-header {
    display: none !important;
  }
}
header > .top-header > ul {
  margin: 0;
  padding: 0;
  gap: 10px;
}
header > .top-header > ul.social-links {
  padding-right: 15px;
}
header > .top-header > ul.minor-links {
  gap: 20px;
}
header > .top-header > ul.minor-links > li > a {
  color: var(--text-colored-color);
  text-decoration: none;
  font-family: var(--font-ArticulatCF);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 95.023%; /* 14.253px */
}
header > .main-nav {
  padding: 15px clamp(1.25rem, -0.9375rem + 7vw, 3rem) 15px 0px;
}
header > .main-nav > .logo {
  display: block;
  max-width: clamp(14.25rem, 7.2188rem + 22.5vw, 19.875rem);
}
header > .main-nav > .logo > img {
  width: 100%;
  object-fit: contain;
}
header > .main-nav > .cta-wrapper {
  gap: 6px;
}
header > .main-nav > .cta-wrapper > li a {
  text-decoration: none;
  font-family: var(--font-ArticulatCF);
}
header > .main-nav > .cta-wrapper > li:first-child {
  margin-right: 20px;
}
@media (max-width: 1100px) {
  header > .main-nav > .cta-wrapper > li:first-child {
    display: none !important;
  }
}
@media (max-width: 768px) {
  header > .main-nav > .cta-wrapper > li:nth-child(2) {
    display: none !important;
  }
}
header > .main-nav > .cta-wrapper > li:first-child a {
  color: var(--primary-color);
  font-size: 18.534px;
  font-style: normal;
  font-weight: 500;
  line-height: 95.023%; /* 17.612px */
  text-transform: capitalize;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
header > .main-nav > .cta-wrapper > li:first-child a span {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
header > .main-nav > .cta-wrapper > li:nth-last-of-type(-n + 2) a {
  background-color: var(--primary-color);
  color: var(--text-colored-color);
  padding: 15.5px 20px;
  display: block;
  width: clamp(9.25rem, 6.8281rem + 7.75vw, 11.1875rem);
  text-align: center;
}
@media (max-width: 768px) {
  header > .main-nav > .cta-wrapper > li:nth-last-of-type(-n + 2) a {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 95.023%; /* 13.303px */
  }
}

/* Sections */

/* Sections Hero */
.section-hero {
  padding-top: clamp(2.75rem, 0.75rem + 5.3333vw, 3.75rem);
  padding-bottom: clamp(3.25rem, 1.375rem + 5vw, 4.1875rem);
  background-color: var(--section-bg);
}
.section-hero .hero-row {
  column-gap: 168px;
}
@media (max-width: 991px) {
  .section-hero .sec-left {
    text-align: center;
  }
}
.section-hero .sec-left h1 {
  color: var(--primary-color);
  font-family: "Normalidad Bold Var";
  font-size: clamp(3.4375rem, 1.0625rem + 6.3333vw, 4.625rem);
  font-style: normal;
  font-weight: 700;
  line-height: 89%; /* 66.103px */
  letter-spacing: -1.485px;
}
.section-hero .sec-left h1 span {
  color: var(--secondary-color);
}
.section-hero .sec-left > p {
  color: var(--accent-color);
  font-family: "Articulat CF";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  text-transform: capitalize;
  margin-top: 38px;
}
.section-hero .sec-left .cta-hero {
  margin-top: 22px;
  gap: 28px;
}
@media (max-width: 991px) {
  .section-hero .sec-left .cta-hero {
    flex-direction: column;
    gap: 31px;
  }
}
.section-hero .sec-left .cta-hero a {
  text-decoration: none;
  font-family: var(--font-ArticulatCF);
}
.section-hero .sec-left .cta-hero a:first-child {
  display: block;
  width: clamp(11.125rem, 12.875rem + -4.6667vw, 10.25rem);
  background-color: var(--primary-color);
  color: var(--text-colored-color);
  text-align: center;
  padding: 21px 20px;
}
.section-hero .sec-left .cta-hero a:last-child {
  color: var(--primary-color);
  font-size: 20.921px;
  font-style: normal;
  font-weight: 500;
  line-height: 95.023%; /* 19.88px */
  text-transform: capitalize;
  gap: 8px;
}
.section-hero .sec-left .cta-hero a:last-child span {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.section-hero .sec-left .greviewList {
  margin-top: 47px;
  padding-top: 22px;
}

.section-hero .sec-left #myReviews .splide__pagination {
  left: 0;
  right: unset;
  bottom: -32px;
  padding: 0px;
}
.section-hero .sec-left #myReviews .splide__pagination li button {
  background: #c6c6c6;
  width: 7.412px;
  height: 7.412px;
}
.section-hero .sec-left #myReviews .splide__pagination li button.is-active {
  background: #fdb813;
  width: 7.412px;
  height: 7.412px;
}
.section-hero .sec-left .greviewList li {
  position: relative;
}

.section-hero .sec-left .greviewList li .img-float {
  position: absolute;
  width: 44.243px;
  height: 44.243px;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid #fff;
  left: 25px;
  top: -22px;
}

.section-hero .sec-left .greviewList li {
  border-radius: 8px;
  background: #fff;
  padding: 36px 25px 19px 25px;
  text-align: left;
}

.section-hero .sec-left .greviewList li .img-float img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-hero .sec-left .greviewList li .name-star .review-name {
  color: #09364b;

  color: var(--primary-color);
  font-family: "Normalidad Bold Var";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 114%; /* 18.24px */
  letter-spacing: -0.32px;
}

.section-hero .sec-left .greviewList li .name-star > img {
  width: 88.43px;
  object-fit: cover;
}

.section-hero .sec-left .greviewList li .review-desc {
  font-family: "Normalidad Regular Var";
  font-weight: 350;
  font-style: normal;
  color: var(--text-light-color);
  font-size: 12px;
  line-height: 144%; /* 17.28px */
  letter-spacing: -0.24px;
  margin-top: 11px;
}
@media (max-width: 991px) {
  .section-hero .sec-right {
    margin-top: 44px;
  }
}
.section-hero .sec-right .right-banner {
  height: clamp(29.0913125rem, 7.2739rem + 58.1797vw, 40rem);
  max-width: 672px;
  width: 100%;
  border-radius: 16px;
  background-color: #b2ddfc;
  border-radius: 16px;
}
.section-hero .sec-right .right-banner .main-image {
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.section-hero .sec-right .right-banner .main-image img {
  object-fit: cover;
}
.inner-div {
  position: absolute;
  height: clamp(29.0913125rem, 7.2739rem + 58.1797vw, 40rem);
  max-width: 672px;
  background-color: red;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 16px;
}
.section-hero .sec-right .right-banner .line-white {
  position: absolute;
  bottom: 0;
  z-index: 0;
}
.section-hero .sec-right .right-banner .line-blue {
  position: absolute;
  bottom: 17px;
  left: 0;
  z-index: 2;
}
.section-hero .sec-right .right-banner .banner-right-text {
  position: absolute;
  right: 0;
  bottom: 0;
  width: clamp(17.9626875rem, 9.1249rem + 23.5673vw, 22.3815625rem);
  height: clamp(10.4570625rem, 5.3712rem + 13.5623vw, 13rem);

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.section-hero .sec-right .right-banner .banner-right-text p {
  z-index: 4;
  width: clamp(9.4985rem, 4.8253rem + 12.462vw, 11.835125rem);
  margin-right: clamp(0.875rem, 0.5rem + 1vw, 1.0625rem);
  margin-bottom: clamp(1.0625rem, 0.4375rem + 1.6667vw, 1.375rem);

  color: var(--primary-color);

  font-family: var(--font-ArticulatCF);
  font-size: clamp(0.875rem, 0.375rem + 1.3333vw, 1.125rem);
  font-style: normal;
  font-weight: 600;
  line-height: 95.023%;
}
.section-hero .sec-right .right-banner .banner-right-text p span {
  font-weight: 400;
  line-height: 95.023%;
}
.section-hero .sec-right .right-banner .banner-right-text .triangle-banner {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
}
.section-hero .sec-right .right-banner .banner-right-text .banner-identifier {
  position: absolute;
  right: clamp(6.1875rem, 3.0625rem + 8.3333vw, 7.75rem);
  bottom: clamp(3.625rem, 1.875rem + 4.6667vw, 4.5rem);
  z-index: 4;
  width: clamp(3.9626875rem, 2.0131rem + 5.199vw, 4.9375rem);
}
@media (max-width: 991px) {
  .section-hero .sec-right .right-banner .line-blue {
    left: unset;
  }
  .section-hero .sec-right .right-banner .line-white {
    z-index: 1;
    bottom: -24px;
  }
  .section-hero .sec-right .right-banner .banner-right-text {
    z-index: 0;
  }
}

/* Sections Contact */
.section-contact {
  padding: clamp(3.25rem, -0.625rem + 10.3333vw, 5.1875rem) 12px
    clamp(2.1875rem, -6.0625rem + 22vw, 6.3125rem) 12px;
}
@media (max-width: 600px) {
  .section-contact {
    padding: 0;
  }
}
.section-contact .section-contact-cont {
  border-radius: 18px;
  background-color: var(--primary-color);
}

.section-contact .section-contact-cont .left-cont {
  height: 100%;
  background-color: var(--secondary-color);
  border-radius: 18px;
  min-height: clamp(30.75rem, 14.75rem + 42.6667vw, 38.75rem);
  padding: 35px clamp(1.5rem, -2.125rem + 9.6667vw, 3.3125rem);
}

.section-contact .section-contact-cont .left-cont > h2 {
  color: var(--primary-color);
  font-family: "Normalidad Bold Var";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 95.023%; /* 57.014px */
  letter-spacing: -1.2px;
}
.section-contact .section-contact-cont .left-cont > p {
  color: var(--primary-color);
  font-family: var(--font-ArticulatCF);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 20.8px */
  text-transform: capitalize;
  max-width: 373.854px;
  width: 100%;
  margin: 0 auto;
  margin-top: 18px;
}
@media (max-width: 991px) {
  .section-contact .section-contact-cont .left-cont > p {
    main-top: 24px;
  }
}

.section-contact .section-contact-cont .left-cont .card-details {
  background-color: var(--primary-color);
  margin-top: clamp(1.5rem, -1.125rem + 7vw, 2.8125rem);
  padding: clamp(2.0625rem, 0.9375rem + 3vw, 2.625rem) 26px
    clamp(2.1875rem, 0.6875rem + 4vw, 2.9375rem) 26px;
  border-radius: 10px;
}
.section-contact .section-contact-cont .left-cont .card-details > h3 {
  color: var(--secondary-color);
  text-align: center;
  font-family: "Normalidad Bold Var";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 95.023%; /* 28.507px */
  letter-spacing: -0.6px;
}
.section-contact .section-contact-cont .left-cont .card-details > h3 > span {
  color: var(--text-colored-color);
}

.section-contact .section-contact-cont .left-cont .card-details > p {
  color: var(--text-colored-color);
  text-align: center;
  font-family: var(--font-ArticulatCF);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  max-width: 382.699px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}
.section-contact .section-contact-cont .right-cont {
  padding: 40px 26px 52px 26px;
}
.section-contact .section-contact-cont .right-cont h2 {
  text-align: center;
  color: var(--text-colored-color);
  font-family: "Normalidad Bold Var";
  text-align: center;
  font-size: clamp(2.5rem, 0.875rem + 4.3333vw, 3.3125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 47px; /* 89.772% */
  letter-spacing: -2.618px;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .section-contact .section-contact-cont .right-cont h2 {
    color: var(--secondary-color);
    padding-bottom: 10px;
    border-bottom: 1px solid #226280;
  }
  .section-contact .section-contact-cont .right-cont h2 span {
    display: none; /* Hides additional text */
  }
}

.section-contact .section-contact-cont .right-cont h2 span,
.section-contact .section-contact-cont .right-cont h2 p:last-child {
  color: var(--secondary-color);
}
.section-contact .section-contact-cont .right-cont h2 + p {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: var(--font-ArticulatCF);
  color: var(--text-colored-color);
  width: 253.705px;
  margin: 0 auto;
  margin-top: 10px;
}
.section-contact .section-contact-cont .right-cont form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 674.732px;
  width: 100%;
  margin: 0 auto;
  margin-top: clamp(1.8125rem, 0.1875rem + 4.3333vw, 2.625rem);
}
.section-contact
  .section-contact-cont
  .right-cont
  form
  .formCtrl:nth-child(n + 5) {
  width: 100%;
}
.section-contact
  .section-contact-cont
  .right-cont
  form
  .formCtrl:nth-child(-n + 4) {
  flex: 1 0 48%;
}
@media (max-width: 991px) {
  .section-contact
    .section-contact-cont
    .right-cont
    form
    .formCtrl:nth-child(-n + 4) {
    flex: 100%;
  }
}

.section-contact .section-contact-cont .right-cont form input,
.section-contact .section-contact-cont .right-cont form select,
.section-contact .section-contact-cont .right-cont form textarea {
  width: 100%;
  border-radius: 13.961px;
  border: 1.047px solid #fff;
  background: var(--text-colored-color);
  padding: 0 20px;
  font-family: var(--font-ArticulatCF);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  outline: none;
}
.section-contact .section-contact-cont .right-cont form input,
.section-contact .section-contact-cont .right-cont form select {
  min-height: 47.202px;
}
.section-contact .section-contact-cont .right-cont form textarea {
  min-height: 92px;
  padding: 17px 20px;
}
.section-contact .section-contact-cont .right-cont form input::placeholder,
.section-contact .section-contact-cont .right-cont form select:invalid,
.section-contact .section-contact-cont .right-cont form textarea::placeholder {
  color: #959abe;
  font-size: 10.471px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.section-contact .section-contact-cont .right-cont form input[type="submit"] {
  background-color: var(--secondary-color);
  border: none;
  color: var(--primary-color);
  font-size: 17.452px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.873px;
  text-transform: capitalize;
  font-family: "Normalidad Bold Var";
}

/* Optional: Hide arrows globally */
.section-services-cont .splide__arrow,
.section-services-cont .splide__pagination {
  display: none !important;
}
.section-services-cont {
  margin-top: clamp(1.6875rem, -0.9375rem + 7vw, 3rem);
}

@media (max-width: 600px) {
  .section-services-cont {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.section-services-cont .myServices {
  overflow: hidden;
}
.section-services-cont .myServices .service-card {
  border-radius: clamp(0.8125rem, 0.4375rem + 1vw, 1rem);
  height: clamp(33.150625rem, 22.0769rem + 29.53vw, 38.6875rem);
  padding: clamp(1.3125rem, 0.8125rem + 1.3333vw, 1.5625rem);
}
.section-services-cont .myServices .service-card img {
  border-radius: clamp(0.8125rem, 0.4375rem + 1vw, 1rem);
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-position: center;
}
.section-services-cont .myServices .service-card .text-details {
  text-align: center;
  position: relative;
  z-index: 1;
}
.section-services-cont .myServices .service-card .text-details h3 {
  color: var(--text-colored-color);
  text-align: center;
  font-family: "Normalidad Bold Var";
  font-size: clamp(2.125rem, 1.375rem + 2vw, 2.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 95.023%; /* 38.009px */
  letter-spacing: -0.8px;
  max-width: 285.536px;
  width: 100%;
  margin: 0 auto;
}
.section-services-cont .myServices .tofix .text-details h3 {
  max-width: 350px;
}
.section-services-cont .myServices .service-card .text-details h3 span {
  color: var(--secondary-color);
}
.section-services-cont .myServices .service-card .text-details h3 + p {
  font-size: clamp(0.9375rem, 1.1875rem + -0.6667vw, 0.8125rem);
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  font-family: var(--font-ArticulatCF);
  color: var(--text-colored-color);
  max-width: 381.149px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.sec-whyPartner {
  background-color: var(--section-bg);
  padding-top: clamp(3.125rem, -3.125rem + 16.6667vw, 6.25rem);
  padding-bottom: 100px;
}

.sec-whyPartner .pyramid-float {
  height: 399px;
  width: 105px;
  position: absolute;
  left: 0;
}
@media (max-width: 1200px) {
  .sec-whyPartner .pyramid-float {
    display: none;
  }
}
@media (max-width: 991px) {
  .sec-whyPartner .left-sec {
    text-align: center;
  }
}
.sec-whyPartner .left-sec h2 {
  color: var(--primary-color);
  font-family: "Normalidad Bold Var";
  font-size: clamp(3.4375rem, 1.0284rem + 6.4243vw, 4.6420625rem);
  font-style: normal;
  font-weight: 700;
  line-height: 80%; /* 59.418px */
  letter-spacing: -1.485px;
  text-transform: capitalize;
}

.sec-whyPartner .left-sec h2 span {
  color: var(--secondary-color);
}
.sec-whyPartner .left-sec h2 + p {
  color: var(--text-light-color);
  font-family: var(--font-ArticulatCF);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  text-transform: capitalize;
  max-width: 582.647px;
  width: 100%;
  margin-top: clamp(1.6875rem, 0.5625rem + 3vw, 2.25rem);
}
@media (max-width: 991px) {
  .sec-whyPartner .left-sec h2 + p {
    margin: 0 auto;
    margin-top: clamp(1.6875rem, 0.5625rem + 3vw, 2.25rem);
  }
}
.sec-whyPartner .left-sec h2 + p + a {
  padding: 21px 20px;
  text-align: center;
  min-width: 248px;
  text-decoration: none;
  color: var(--text-colored-color);
  background-color: var(--primary-color);
  margin-top: 24px;

  font-family: var(--font-ArticulatCF);
  font-size: 19.397px;
  font-style: normal;
  font-weight: 400;
  line-height: 95.023%;
}
.sec-whyPartner .right-sec .images-cont {
  position: relative;
  width: 100%;
  height: clamp(33.1556875rem, 20.9969rem + 32.4233vw, 39.2350625rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-whyPartner .right-sec .images-cont img {
  position: absolute;
}
.sec-whyPartner .right-sec .images-cont .why-partner-banner {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  object-fit: cover;
  border-radius: 16px;
}
.sec-whyPartner .right-sec .images-cont .line-blue-2 {
  bottom: 0;
}
.sec-whyPartner .right-sec .images-cont .line-yellow-2 {
  bottom: 13px;
}

@media (max-width: 991px) {
  .sec-whyPartner .right-sec .images-cont .line-blue-2 {
    right: -7.5px;
    bottom: -52px;
  }
  .sec-whyPartner .right-sec .images-cont .line-yellow-2 {
    right: -15px;
    bottom: -52px;
  }
}

.orr-wrapper {
  padding-top: 106px;
  padding-bottom: 89px;
  background-color: var(--primary-color);
}
.orr-wrapper .sec-2 .map-cont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 568.186px;
}
.orr-wrapper .sec-2 .map-cont .pyramid-float {
  height: 399px;
  width: 105px;
  position: absolute;
  left: 0;
}
@media (max-width: 991px) {
  .orr-wrapper .sec-2 .map-cont .pyramid-float {
    left: unset;
    bottom: 0;
    transform: rotate(270deg);
    bottom: -147px;
  }
}
.orr-wrapper .sec-2 .map-cont iframe {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.orr-wrapper .sec-3 {
  margin-top: 84px;
}
.orr-wrapper .sec-3 .title {
  gap: 56px;
}
.orr-wrapper .sec-3 .title h3 {
  white-space: nowrap;

  color: var(--text-colored-color);
  text-align: center;
  font-family: "Normalidad Bold Var";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 95.023%;
  letter-spacing: -0.6px;
}
.orr-wrapper .sec-3 .title span {
  display: block;
  width: 100%;
  border: 1px solid #00c3f3;
  opacity: 0.5;
}
@media (max-width: 768px) {
  .orr-wrapper .sec-3 .title span {
    display: none;
  }
}

.custom-accordion {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin: auto;
  margin-top: 70px;
}

.custom-accordion-title {
  display: flex;
  justify-content: space-between;
  padding: clamp(0.9375rem, -0.3125rem + 3.3333vw, 1.5625rem);
  cursor: pointer;
  background-color: #072e41;
  border-radius: 8.917px;
  color: var(--text-colored-color);
  font-family: "Normalidad Bold Var";
  font-size: clamp(0.875rem, 0.125rem + 2vw, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
  gap: clamp(0.9375rem, -0.3125rem + 3.3333vw, 1.5625rem);
}
.custom-accordion-title .left {
  display: flex;
  gap: clamp(0.9375rem, -0.3125rem + 3.3333vw, 1.5625rem);
  align-items: center;
}
.custom-accordion-title .left svg {
  width: 14px;
}
.custom-accordion-title .right svg {
  width: 18px;
}
.custom-accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 0 0 8.917px 8.917px;
}
.custom-accordion-content-text {
  padding: 25px clamp(1.5625rem, -1.5625rem + 8.3333vw, 3.125rem)
    clamp(1.5625rem, -4.0625rem + 15vw, 4.375rem)
    clamp(1.5625rem, -1.5625rem + 8.3333vw, 3.125rem);
  font-family: "Normalidad Regular Var";
  font-size: clamp(0.875rem, 0.125rem + 2vw, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
  color: var(--text-colored-color);
}
.custom-accordion-content.open {
  background-color: #155370;
}

.custom-accordion-content.open {
  max-height: 200px;
}

/* ##### Footer ###### */
.footer {
  background-color: #052534;
  padding-top: 22px;
  padding-bottom: 22px;
}
@media (max-width: 991px) {
  footer .footer-cont {
    gap: 15px;
  }
}
footer .footer-cont ul li {
  color: var(--text-colored-color);
}

footer .footer-cont ul.copyright li {
  font-family: var(--font-ArticulatCF);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 20.8px */
}
@media (max-width: 991px) {
  footer .footer-cont ul.copyright {
    flex-wrap: wrap;
    row-gap: 15px;
  }
  footer .footer-cont ul.copyright li:not(:last-child) {
    padding: 0 clamp(0.625rem, -0.125rem + 2vw, 1rem) !important;
    font-size: clamp(0.75rem, 0.25rem + 1.3333vw, 1rem);
  }
}

footer .footer-cont ul.copyright li:first-child {
  padding-right: 32px;
}
footer .footer-cont ul.copyright li:nth-child(2) {
  border-right: 1px solid var(--text-colored-color);
  border-left: 1px solid var(--text-colored-color);
  padding: 0 32px;
}
footer .footer-cont ul.copyright li:nth-child(3) {
  padding-left: 32px;
  padding-right: 16px;
}

footer .footer-cont ul.copyright li:last-child {
  padding-left: 16px;
}
@media (max-width: 991px) {
  footer .footer-cont ul.copyright li:last-child {
    padding-left: 0px;
  }
  footer .footer-cont ul.copyright li:last-child a {
    width: 25px;
    margin-right: 0px;
  }
  footer .footer-cont ul.copyright li:last-child a img {
    width: 100%;
  }
}
footer .footer-cont ul.copyright li:last-child a {
  display: inline-block;
  margin-right: 10px;
  width: 19px;
}
@media (max-width: 991px) {
  footer .footer-cont ul.copyright li:last-child {
    width: 100%;
    text-align: center;
  }
}
.footer .footer-cont ul.partner li {
  padding: 0 7px;
}
.footer .footer-cont ul.partner li a {
  display: inline-block;
}
.footer .footer-cont ul.partner li a img {
  width: 100%;
}

.footer .footer-cont ul.partner li:first-child a {
  width: clamp(1.875rem, -0.435rem + 6.16vw, 3.03rem);
}
.footer .footer-cont ul.partner li:last-child {
  position: relative;
  display: flex;
  align-items: center;
}
.footer .footer-cont ul.partner li:last-child:before {
  content: "";
  height: clamp(1.25rem, -1rem + 6vw, 2.375rem);
  width: 2px;
  position: absolute;
  left: 0;
  background-color: var(--text-colored-color);
}
.footer .footer-cont ul.partner li:last-child a {
  width: clamp(2.5rem, 0.8738rem + 4.3367vw, 3.313125rem);
}
